.footer-cont {
    z-index: 10;
    position: relative;
    width: 100%;
    background-color: #222b38;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rebeccapurple;
}
.large-icon {
    font-size: 20px;
}